[submodule "projects/kernel"]
	path = projects/base/kernel
	url = git@github.com:the-strife-project/kernel
[submodule "stdlib"]
	path = projects/stdlib
	url = git@github.com:the-strife-project/stdlib
[submodule "helper"]
	path = projects/helper
	url = git@github.com:the-strife-project/helper
[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
	branch = v2.0-branch-binary
[submodule "loader"]
	path = projects/base/loader
	url = git@github.com:the-strife-project/loader
[submodule "term"]
	path = projects/base/term
	url = git@github.com:the-strife-project/term
[submodule "projects/PCI"]
	path = projects/base/PCI
	url = git@github.com:the-strife-project/PCI
[submodule "projects/AHCI"]
	path = projects/storage/AHCI
	url = git@github.com:the-strife-project/AHCI
[submodule "projects/block"]
	path = projects/storage/block
	url = git@github.com:the-strife-project/block
[submodule "projects/ISO9660"]
	path = projects/storage/ISO9660
	url = git@github.com:the-strife-project/ISO9660
[submodule "projects/VFS"]
	path = projects/storage/VFS
	url = git@github.com:the-strife-project/VFS
[submodule "projects/base/PSNS"]
	path = projects/base/PSNS
	url = git@github.com:the-strife-project/PSNS
[submodule "projects/storage/ramblock"]
	path = projects/storage/ramblock
	url = git@github.com:the-strife-project/ramblock
[submodule "projects/storage/StrifeFS"]
	path = projects/storage/StrifeFS
	url = git@github.com:the-strife-project/StrifeFS
[submodule "projects/programs/init"]
	path = projects/programs/init
	url = git@github.com:the-strife-project/init
[submodule "projects/programs/splash"]
	path = projects/programs/splash
	url = git@github.com:the-strife-project/splash
[submodule "projects/programs/registry"]
	path = projects/programs/registry
	url = git@github.com:the-strife-project/registry
[submodule "projects/programs/keyboard"]
	path = projects/programs/keyboard
	url = git@github.com:the-strife-project/keyboard
[submodule "projects/programs/shell"]
	path = projects/programs/shell
	url = git@github.com:the-strife-project/shell
[submodule "projects/programs/tests"]
	path = projects/programs/tests
	url = git@github.com:the-strife-project/tests
